@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
} /*Reset das config. pad.*/

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps  ;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh; 
    padding-bottom: 10vh; 
    line-height: 2em; /*Espaço entre linhas de texto*/
    padding-left: 30px;
}

section.normal {
    background-color: #ffffff;
    color: #2c2b2b;
}

section.imagem {
    background-color: #282727;
    color: #ffffff;

}

section.imagem > p {
    width: 400px;
    background-color: #00000022;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}